## Deliverable 2. Create a Customer Travel Destinations Map.

In [19]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [20]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Susangerd,IR,31.5608,48.1831,75.36,14,0,16.13,clear sky
1,1,Khatanga,RU,71.9667,102.5000,5.90,95,99,12.35,overcast clouds
2,2,Antalya,TR,36.7741,30.7178,65.08,54,75,10.36,light rain
3,3,Vaini,TO,-21.2000,-175.2000,82.56,83,75,4.61,broken clouds
4,4,Longyearbyen,SJ,78.2186,15.6401,21.04,86,75,12.66,light snow

In [21]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 100

In [22]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
filtered_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Susangerd,IR,31.5608,48.1831,75.36,14,0,16.13,clear sky
3,3,Vaini,TO,-21.2000,-175.2000,82.56,83,75,4.61,broken clouds
5,5,Nabire,ID,-3.3667,135.4833,75.38,91,93,2.86,moderate rain
9,9,Karratha,AU,-20.7377,116.8463,83.43,35,18,10.27,few clouds
13,13,Puerto Ayora,EC,-0.7393,-90.3518,78.76,88,72,9.95,light rain
14,14,Inhambane,MZ,-23.8650,35.3833,72.82,91,100,6.31,moderate rain
16,16,Rikitea,PF,-23.1203,-134.9692,78.42,69,1,12.66,clear sky
17,17,Kimparana,ML,12.8347,-4.9244,88.41,22,99,5.73,overcast clouds
19,19,Bambous Virieux,MU,-20.3428,57.7575,76.21,87,35,13.76,moderate rain
24,24,Mahibadhoo,MV,3.7833,72.9667,84.25,71,97,12.19,overcast clouds

In [23]:
# 4a. Determine if there are any empty rows.
filtered_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [24]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
filtered_df = filtered_df.dropna()
filtered_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Susangerd,IR,31.5608,48.1831,75.36,14,0,16.13,clear sky
3,3,Vaini,TO,-21.2000,-175.2000,82.56,83,75,4.61,broken clouds
5,5,Nabire,ID,-3.3667,135.4833,75.38,91,93,2.86,moderate rain
9,9,Karratha,AU,-20.7377,116.8463,83.43,35,18,10.27,few clouds
13,13,Puerto Ayora,EC,-0.7393,-90.3518,78.76,88,72,9.95,light rain
...,...,...,...,...,...,...,...,...,...,...
673,673,Labuhan,ID,-6.8844,112.2051,79.68,86,70,3.11,broken clouds
674,674,Gasa,PS,31.5000,34.4667,88.88,18,1,17.40,clear sky
675,675,Paragominas,BR,-2.9667,-47.4833,76.33,94,98,3.38,moderate rain
676,676,Caravelas,BR,-17.7125,-39.2481,77.29,66,100,10.89,overcast clouds
677,677,Galesong,ID,-5.3166,119.3661,79.21,84,100,3.85,overcast clouds

In [25]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = filtered_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Susangerd,IR,75.36,clear sky,31.5608,48.1831,
3,Vaini,TO,82.56,broken clouds,-21.2000,-175.2000,
5,Nabire,ID,75.38,moderate rain,-3.3667,135.4833,
9,Karratha,AU,83.43,few clouds,-20.7377,116.8463,
13,Puerto Ayora,EC,78.76,light rain,-0.7393,-90.3518,
14,Inhambane,MZ,72.82,moderate rain,-23.8650,35.3833,
16,Rikitea,PF,78.42,clear sky,-23.1203,-134.9692,
17,Kimparana,ML,88.41,overcast clouds,12.8347,-4.9244,
19,Bambous Virieux,MU,76.21,moderate rain,-20.3428,57.7575,
24,Mahibadhoo,MV,84.25,overcast clouds,3.7833,72.9667,

In [26]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Susangerd,IR,75.36,clear sky,31.5608,48.1831,دفتر خدمات هوایی وجهانگردی نسیم گستر دشت آزادگان
3,Vaini,TO,82.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
5,Nabire,ID,75.38,moderate rain,-3.3667,135.4833,Hotel Nusantara I
9,Karratha,AU,83.43,few clouds,-20.7377,116.8463,ibis Styles Karratha
13,Puerto Ayora,EC,78.76,light rain,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [28]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))